mat-card{
  margin-top: 3%;
  margin-left: 5%;
  width: 90%;
}


.crud{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.b-edit{
  margin-right: 1rem;
  margin-left: 1rem;
}

.edit{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
  padding: 2rem;
}
