
<div class="container">



<mat-card class="d-card min">
  <mat-card-header>
    @if(!edit){

    <mat-card-title class="titulo">Adicionar Nova Atividade</mat-card-title>
    }@else{
      <mat-card-title class="titulo">Editar Atividade</mat-card-title>
    }
  </mat-card-header>

  <mat-card-content>


  <form [formGroup]="formu">
    <mat-form-field class="f-width">
      <mat-label>Título</mat-label>
      <input matInput  formControlName="titulo">
    </mat-form-field>

    <mat-form-field class="f-width">
      <mat-label>Descrição</mat-label>
      <input matInput  formControlName="description">
    </mat-form-field>

    <mat-form-field class="f-width">
      <mat-label>Hora da atividade</mat-label>
      <input matInput  formControlName="data">
    </mat-form-field>

    <mat-form-field class="f-width">
      <mat-label>Tempo gasto</mat-label>
      <input matInput  formControlName="tempo">
    </mat-form-field>
  </form>
  </mat-card-content>
  <mat-card-actions style="gap: 1.5rem">
    @if(!edit){
      <button class="btn" mat-flat-button color="primary" (click)="onCriar()">CRIAR</button>
    } @else {
      <button class="btn" mat-flat-button color="primary" (click)="onCriar()">EDITAR</button>
    }

    <button class="btn" mat-flat-button color="primary" (click)="onVoltar()">VOLTAR </button>
  </mat-card-actions>
</mat-card>

</div>
