<div class="main">
    <mat-card>
        <h1>Register</h1>
        <div class="types">
            <mat-form-field appearance="outline" >
                <mat-label>Email</mat-label>
                <mat-icon matSuffix>email</mat-icon>
                <input [formControl]="email" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Password</mat-label>
                <mat-icon matSuffix>lock</mat-icon>
                <input [formControl]="password" matInput>
            </mat-form-field>
        </div>

        <button mat-flat-button color="primary" (click)="onSubmit()">Log in</button>

    </mat-card>
</div>
